.theme-dark {
  --font-family: 'JetBrains Mono', sans-serif;
}

/* normal text outside of headings and code */
.cm-s-obsidian,
.mod-single-child .cm-s-obsidian,
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6,
.markdown-preview-viewm,
.mod-single-child .markdown-preview-view,
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-family: var(--font-family);
  font-variant-ligatures: common-ligatures;
}
